<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <configSections>
        <section name="log4net" 
           type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="SQLConnection" value="Server=LocalHost\SQLEXPRESS;Database=QuantTrading;Trusted_Connection=True;"/>
      <add key="SelectSerityMaster" value="SELECT * FROM dbo.SecurityMaster"/>
      <add key="StagingTableName" value="DBO.HistoricalQuotesStaging"/>
      <add key="InsertOHLC" value="dbo.SP_INSERTHISTORICALQUOTES"/>
    </appSettings>

    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
          <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
          <file value="D:\temp\Log\YahooPriceBatchLoader\logs\log_" />
          <datePattern value="dd.MM.yyyy'.log'" />
          <staticLogFileName value="false" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <maxSizeRollBackups value="10" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
          </layout>
        </appender>
        
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>